
.Page {
    padding: 5%;
}

.card {
    padding: 5px;
    margin: 10px
}

.item-user {
    color: #636363;
    font-size: 12px;
}

.item-price {
    color: #636363;
    font-size: 12px;
    text-align: end;
}

.item-title {
    color: #282828;
    font-size: 14px;
}

.item-view {
    color: #636363;
    font-size: 12px;
    text-align: end;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
}

.td-end {
    text-align: right;
}

.Pagenation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

